/* Base Styles */

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.btn {
    background: #ff6565;
    color: white;
    padding: 13px 31px;
    border-radius: 30px;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn:hover {
    background: #a44040;
}

/* Header Styles */

header {
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

header .header-container {
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

header .header-container li ul li {
    margin: 0 50px 0 0;
}

header .header-container li ul li a:hover {
    color: #ff6565;
}

header .header-container img {
    width: 114px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .navbar-menu {
    display: block;
}

.menu-btn:checked ~ .navbar-menu .nav {
    max-height: 100%;
    overflow: inherit;
}

.menu-btn:checked ~ .navbar-menu .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .navbar-menu .menu-icon .navicon::before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked ~ .navbar-menu .menu-icon .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

@media (max-width: 767px) {
    header .header-container {
        padding: 30px 66px;
    }

    header .header-container li ul li {
        margin: 0 30px 0 0;
    }
}

@media (max-width: 480px) {
    header .header-container ul {
        justify-content: center;
    }

    .header-logo {
        padding: 0 50px 0 0;
    }

    .header .nav {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        padding: 10px 0 0 0;
    }

    .nav li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .navbar-menu {
        flex: 1 100%;
        display: none;
    }

    .header .menu-icon {
        display: block;
        cursor: pointer;
        padding: 12px 0 0 0;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: white;
        display: block;
        width: 15px;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
    }

    .header .menu-icon .navicon::before,
    .header .menu-icon .navicon::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        background: white;
        transition: all 0.2s ease-out;
    }

    .header .menu-icon .navicon::before {
        top: 0.4rem;
    }

    .header .menu-icon .navicon::after {
        top: -0.4rem;
    }
}

/* Main Section Styles */

.main-part {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 0 370px;
}

.main-part h2 {
    font-size: 32px;
    font-weight: bold;
}

.main-part .intro-text {
    font-size: 16px;
    font-weight: bold;
}

.main-part .cta-button {
    margin: 40px 0 60px 0;
}

.main-part button {
    width: 160px;
    height: 44px;
    font-size: 12px;
}

.main-part .paragraph-container {
    width: 630px;
}

.paragraph {
    font-size: 16px;
    color: rgb(201, 201, 201);
    font-weight: normal;
}

@media (max-width: 767px) {
    .main-part {
        padding: 0 66px;
    }
}

@media (max-width: 480px) {
    .main-part {
        padding: 0 9px;
    }
}

/* Section What we do Styles */

.what_we_do {
    padding: 100px 0;
}

.what_we_do .disc {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.what_we_do .disc div {
    max-width: 630px;
    text-align: center;
    color: #071629;
}

.what_we_do .disc h1 {
    font-size: 32px;
    margin: 0 0 30px 0;
}

.what_we_do .disc p {
    font-size: 16px;
    padding: 10px;
}

.what_we_do .row {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    flex-wrap: wrap;
}

.what_we_do .row .card {
    width: 200px;
    text-align: center;
    color: #071629;
}

.what_we_do .row .card span {
    color: #ff6565;
    font-size: 94px;
}

.what_we_do .row .card h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}

@media (max-width: 767px) {
    .what_we_do .row {
        margin: 0 100px;
    }

    .what_we_do .row .card {
        margin: 30px 0;
    }
}

@media (max-width: 480px) {
    .what_we_do .row {
        margin: 0 20px;
        justify-content: center;
    }
}